* {
  box-sizing: border-box;
}
body {
  background-image: url("ggy.jpeg");
  background-repeat: no-repeat;
  background-size: 200%;
}
h1 {
  font-family: "Syne Mono", monospace;
}
button {
  font-family: "Syne Mono", monospace;
}
button::after {
  content: "\a";
  white-space: pre;
  width: 20%;
  align-items: center;
  font-family: "Syne Mono", monospace;
}
section {
  border: 1px solid black;
  background-image: url("neb.jpeg");
  background-size: 100%;
  width: 18%;
  height: 190px;
  float: left;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section:hover {
  background-color: black;
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transform: rotate(90);
}
img {
  width: 100%;
  height: 100%;
}
